.card {
  position: absolute;
  height: min(85vh, 132rem);
  width: auto;
  // overflow: hidden;
  container-type: inline-size;
  aspect-ratio: 1418 / 2648;
}

.base {
  display: block;
  width: 100%;
  height: auto;
}

.flowerCross {
  position: absolute;
  display: block;
  width: 5%;
  height: auto;
  top: 9%;
  left: 80%;
}

.nameArt {
  position: absolute;
  display: block;
  top: 35%;
  left: -10%;
  img {
    width: 35%;
    height: auto;
  }
}

.bottomStaff {
  position: absolute;
  display: block;
}

.icon {
  position: absolute;
  display: block;
}
